# SQLite - Basics

[SQL Tutorial](https://www.w3schools.com/sql/default.asp)

## Load ipython-sql

`ipython-sql`:

    - 是jupyter notebook的extension，用來擴充jupyter對SQL的支援
    - 其底層是使用SQLAlchemy

In [1]:
%load_ext sql

## Create & Link Database

In [2]:
%sql sqlite:///test.db

## CRUD

- C: Create
- R: Read
- U: Update
- D: Delete

![](./images/crud.png)

### Create Table

In [3]:
%%sql
CREATE TABLE persions(
    persion_id integer primary key autoincrement,
    firstname varchar(255),
    lastname varchar(255),
    age int,
    height int,
    weight int,
    city varchar(255)
);

 * sqlite:///test.db
Done.

[]

### Create Data

In [4]:
%%sql
INSERT INTO persions
    VALUES(1, 'kaka','Lin', 28, 175, 70, 'Taipei');
INSERT INTO persions (firstname, lastname, age, height, weight, city) 
    VALUES('kiwi','Li', 30, 173, 70, 'Taipei');

 * sqlite:///test.db
1 rows affected.
1 rows affected.

[]

### Read Data

In [5]:
%%sql

SELECT * 
    FROM persions;

 * sqlite:///test.db
Done.

[(1, 'kaka', 'Lin', 28, 175, 70, 'Taipei'),
 (2, 'kiwi', 'Li', 30, 173, 70, 'Taipei')]

In [6]:
SELECT 可以加減乘除 AS 命名

SyntaxError: invalid syntax (<ipython-input-6-415388e11715>, line 1)

### Update Data

In [ ]:
%%sql

UPDATE persions
    SET weight = 68
    -- or WHERE persion_id = 1
    WHERE firstname = 'kaka';

In [ ]:
%%sql

SELECT * 
    FROM persions;

### Delete Data

Before we delete data,
we first add the data that we want to delete.

In [ ]:
%%sql

INSERT INTO persions (firstname, lastname, age, height, weight, city) 
    VALUES('albert','Lin', 28, 180, 70, 'Taipei');

In [ ]:
%%sql

SELECT * 
    FROM persions;

In [ ]:
%%sql

DELETE FROM persions
    WHERE persion_id = 3;

In [ ]:
%%sql

SELECT * 
    FROM persions;