# MySQL - Basics

- [MySQL Documentation](https://dev.mysql.com/doc/refman/5.7/en/create-table.html)

- [SQL Tutorial](https://www.w3schools.com/sql/default.asp)

## Load ipython-sql

`ipython-sql`:

    - 是jupyter notebook的extension，用來擴充jupyter對SQL的支援
    - 其底層是使用SQLAlchemy

In [1]:
%load_ext sql
# for engines that do not support autocomit
%config SqlMagic.autocommit=False

## Connect Database

Because `ipython-sql` is based on `SQLAlchemy`, 
we use the SQLAlchemy's DBAPI to connect the MySQL database via the mysqlclient 
(maintained fork of MySQL-Python) driver.

[SQLAlchemy - MySQL DBAPI](https://docs.sqlalchemy.org/en/13/dialects/mysql.html#module-sqlalchemy.dialects.mysql.pymysql)


```bash
mysql+mysqldb://<user>:<password>@<host>[:<port>]/<dbname>
```

In [2]:
%sql mysql+mysqldb://root:abc123456@35.201.196.222/kaka_test

In [3]:
%%sql

SELECT * 
    FROM entries;

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
2 rows affected.

[('first guest', 'I got here!', 1), ('second guest', 'Me too!', 2)]

## Create Table

In [4]:
%%sql
CREATE TABLE persions(
    persion_id integer primary key,
    firstname varchar(255),
    lastname varchar(255),
    age int,
    height int,
    weight int,
    city varchar(255)
);

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
0 rows affected.

[]

## CRUD for Data

- C: Create
- R: Read
- U: Update
- D: Delete

![](https://raw.githubusercontent.com/kaka-lin/Notes/master/DB/images/crud.png)

### Create Data

In [5]:
%%sql
INSERT INTO persions
    VALUES(1, 'kaka','Lin', 28, 175, 70, 'Taipei');
INSERT INTO persions
    VALUES(2, 'kiwi','Li', 30, 173, 70, 'Taipei');

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
1 rows affected.
1 rows affected.

[]

### Read Data

In [6]:
%%sql

SELECT * 
    FROM persions;

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
2 rows affected.

[(1, 'kaka', 'Lin', 28, 175, 70, 'Taipei'),
 (2, 'kiwi', 'Li', 30, 173, 70, 'Taipei')]

### Update Data

In [7]:
%%sql

UPDATE persions
    SET weight = 68
    -- or WHERE persion_id = 1
    WHERE firstname = 'kaka';

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
1 rows affected.

[]

In [8]:
%%sql

SELECT * 
    FROM persions;

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
2 rows affected.

[(1, 'kaka', 'Lin', 28, 175, 68, 'Taipei'),
 (2, 'kiwi', 'Li', 30, 173, 70, 'Taipei')]

### Delete Data

Before we delete data,
we first add the data that we want to delete.

In [9]:
%%sql

INSERT INTO persions
    VALUES(3, 'albert','Lin', 28, 180, 70, 'Taipei');

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
1 rows affected.

[]

In [10]:
%%sql

SELECT * 
    FROM persions;

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
3 rows affected.

[(1, 'kaka', 'Lin', 28, 175, 68, 'Taipei'),
 (2, 'kiwi', 'Li', 30, 173, 70, 'Taipei'),
 (3, 'albert', 'Lin', 28, 180, 70, 'Taipei')]

In [11]:
%%sql

DELETE FROM persions
    WHERE persion_id = 3;

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
1 rows affected.

[]

In [12]:
%%sql

SELECT * 
    FROM persions;

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
2 rows affected.

[(1, 'kaka', 'Lin', 28, 175, 68, 'Taipei'),
 (2, 'kiwi', 'Li', 30, 173, 70, 'Taipei')]

## Drop Table

In [13]:
%%sql

DROP TABLE persions;

 * mysql+mysqldb://root:***@35.201.196.222/kaka_test
0 rows affected.

[]